<div>
    @if(data.typeDonnee === "login"){
    <h2 mat-dialog-title>Authentification</h2>
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Connexion">
                <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput placeholder="Nom" formControlName="username" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Se connecter</button>
                </form>
            </mat-tab>

            <mat-tab label="Inscription">
                <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput placeholder="Nom" formControlName="nameUser" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput type="password" placeholder="Nom" formControlName="newPassword" required>
                    </mat-form-field>
                    <button mat-raised-button color="accent" type="submit">S'inscrire</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    } @if(data.typeDonnee === "comment"){
    <h2 mat-dialog-title>Commentaires</h2>
    <mat-dialog-content class="comments-container">
        <!-- Liste des commentaires -->
        <div class="comment-container" *ngFor="let comment of comments">
            <img src="../../assets/images/avatar.png" alt="Profile" class="profile-pic">
            <div class="comment-content">
                <div class="comment-header">
                    <strong>{{comment.User?.username ?? 'Default Username'}}</strong>
                </div>
                <div class="comment-text">{{ comment.title }}</div>
                <div class="comment-date">{{ comment.createdAt | date:'short' }}</div>
            </div>
        </div>
    </mat-dialog-content>

    <!-- Champ pour ajouter un commentaire -->
    <mat-dialog-actions class="comment-input-container">
        <form (ngSubmit)="addComment()" [formGroup]="commentForm">

            <mat-form-field appearance="outline" class="comment-input">
                <mat-label>Ajouter un commentaire...</mat-label>
                <input matInput placeholder="Votre commentaire" formControlName="comment">
            </mat-form-field>
            <button mat-icon-button color="primary">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </mat-dialog-actions>


    }@if(data.typeDonnee === "profil"){
    <h2 mat-dialog-title>Mon Profil</h2>
    <mat-dialog-content>
        <form (ngSubmit)="onUpdate()" [formGroup]="currentUserForm">
            <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput placeholder="Nom" formControlName="username" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe actuel</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="newPassword" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Modifie</button>
        </form>
    </mat-dialog-content>

    }
</div>