<div mat-card-avatar class="example-header-image">
    <div class="content">
        <div class="detail-content">
          <div class="title1-content">MEMES GENERATOR</div>
          <div class="title2-content">Trouvez ici vos memes les plus drole, sarcastiques....</div>
          <div class="desc-content">Bienvenue sur notre univers de creativité , car oui les mêmes en soit sont des oeuvres qui font rire ..les gens, on raconte une histoire par une simple image taguer</div>
        </div>
      </div>
</div>