<div mat-card-avatar class="example-header-image">
  <div class="content">
    <div class="detail-content">
        <img src="../../assets/images/logo.jpg" alt="Logo" class="logo">
        <div class="title1-content">Memes Generator</div>
        <div class="title2-content">Laissez libre cours à votre imagination...</div>
        <div class="desc-content">
            <p>Plongez dans un univers où l'humour et la créativité fusionnent. 
            Transformez vos idées en mèmes uniques et partagez-les avec le monde.</p>
            <p class="cta-text">Pourquoi pas vous ? Lancez-vous et faites partie des artistes qui font vibrer notre plateforme !</p>
        </div>
    </div>
</div>



</div>