.example-header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: url('../../assets/images/background.jpg');
    background-size: cover; /* Ajuste l'image pour qu'elle couvre tout */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    
    color: #fff;
    position: relative;
}


.content {
    text-align: center;
    width: 60%;
    padding: 3vw;
    background: rgba(0, 20, 40, 0.6);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.2);
    animation: fadeIn 1.2s ease-in-out;
}

.title1-content {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
    font-size: 22px;
    text-transform: uppercase;
    color: #00E6FF;
    opacity: 0.9;
}

.title2-content {
    font-size: 48px;
    font-weight: bold;
    color: #00B6DA;
    margin-bottom: 1.5vh;
    text-shadow: 2px 2px 10px rgba(0, 255, 255, 0.3);
}

.desc-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.1);
}

.cta-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: #00E6FF;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Si en haut des boutons */
    margin-right: 20px; /* Si à gauche des boutons */
}

.logo {
    width: 150px; /* Ajuste la largeur */
    height: auto; /* Garde les proportions */
  }
  
